<!-- this is for the main page that alternates depending on the side bar selection -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <div id="container">
    <strong class="capitalize">{{ folder }}</strong>
    <p>Explore <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div> -->

  <ion-card>
    <ion-card-header>
      <ion-card-title>Ben Couser: {{ folder }} <ion-badge color="secondary">42</ion-badge></ion-card-title>
    </ion-card-header>
  
    <img src="../../assets/icon/favicon.png">

    <ion-card-content>
      My name is Ben and i like to code and do cool things with science, 
      I live in neath and i fucking love it son!
    </ion-card-content>

  </ion-card>
